<!-- This page is very first page for user where
He/She will be able to see whether slot is available or not  if yes then he will be able to take it.-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking App</title>
    <!-- Add any additional CSS or external stylesheets here -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="container">
        <h1>Parking App</h1>

        <!-- Empty Slots card -->
        <div class="card">
            <div class="card-title">Empty Slots: 0 </div>
            <!-- Add any content related to empty slots here -->
        </div>

        <!-- Take Slot button -->
        <button class="btn-take-slot">Take Slot</button>
    </div>
</body>

</html>
